.h1-size {
  font-size: 60px;
  letter-spacing: 3px;
}

.text {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: white;
}

.external-link {
  font-size: 14px;
  color: white;
  padding: 5px 25px;
  border: 1px solid;
  border-radius: 2px;
  margin-right: 20px;
}

.h2-size {
  font-size: 30px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

.h3-size {
  font-size: 20px;
}

.serif {
  font-family: 'Baskerville', Georgia, serif;
}
